
<!--<div class="collapse" id="collapseExample">
    <div class="card card-body">-->
      <div>
      <table>
      <h2 style="text-align:center;color: rgb(194, 4, 45); font-family: monospace;">Profile Details</h2>
      <div class="card">
        <tr><td><img src="assets/MyPhoto1 (2).jpg" alt="img" style="width:100% ;font-size: 15px;"></td>
        <td><tr><td colspan="2"><h1>Santhiya R</h1></td></tr>
        <tr><td colspan="2"><p class="title">Student</p></td></tr>
        <tr><td><p>Completed course in Full Stack Development <br>
          and working on web technologies.<br>Graduated at Sri Krishna College Of Technology<br>
        in the field of electrical and electronics engineering.</p></td>
        <!--<td><img src="C:/Users/HP/AngularProject/FrontEndProject/src/assets/MyPhoto1 (2).jpg" alt="Santhiya" style="width: 30%;"></td>--></tr>
        <tr><td><p>To See more works of author<a href="https://github.com/Santhiya035"
          style="color:rgba(17, 6, 179, 0.952)"><b> Click here</b></a>.</p></td>

          <tr><p>Click here to<a href="/contact-details" target="_self"
          style="color:rgba(17, 6, 179, 0.952)"><b> Connect with Us</b></a>.</p></tr></td></tr>
     
       <!--<div style="margin: 10px 10px;">
    </div>-->
<!--<p><button>Contact</button></p>-->
</div>
</table>
</div>
