<table class="table table-hoover-sm">
<tr><th><h3>Book Details</h3></th></tr>
<div>
    <div>
        <tr><td><label> <b> Book Name: </b></label> {{book.bookName}}</td></tr>
    </div>
    <div>
        <tr><td><label> <b> Author Name: </b></label> {{book.authorName}}</td></tr>
    </div>
    <div>
        <tr><td><label> <b> Journal : </b></label> {{book.journal}}</td></tr>
    </div>
    <div>
        <tr><td><label> <b> Journal Id : </b></label> {{book.journalId}}</td></tr>
    </div>
    <div>
        <tr><td><label> <b> Edition : </b></label> {{book.edition}}</td></tr>
    </div>
    <div>
        <tr><td><label> <b> No. Of Copies : </b></label> {{book.noOfCopies}}</td></tr>
    </div>
</div>
</table>
